body {
   font-family: "SF Pro Display" -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji" !important;
  ;
  background: #303030;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  max-height: calc(100vh);
  overflow: scroll;
  width: calc(100% - 380px);
  background: #f0f0f0;
}

h3 {
  background: #888;
  color: #fff;
  margin: 0;
  padding: 10px;
  margin-bottom: 6px;
}

form {
  font-size: 15px;
  line-height: 200%;
}

input[type="number"],
input[type="text"] {
  width: 100px;
  font-size: 16px;
  outline: none;
}

#measure-height {
  width: calc(100% - 200px);
}

form .pos {
  width: 50px;
}

form .form-option input {
  margin-left: 10px;
  width: 300px;
}

select {
  font-size: 16px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  border: none;
  padding: 3px;
  border-radius: 5px;
  outline: none;
}

input[type="button"] {
  font-size: 16px;
}

#debug {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #e0e0e0;
  padding: 2px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#preview {
  transform: rotate(180deg);
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 380px;
  height: 100%;
  
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  background-repeat: repeat-y;
  background-position: top;
  background-size: auto 200px;
}

#preview.playing {
  overflow-y: visible;
  overflow-x: visible;
  margin-top: -20px;
}

#canvas {
  width: 320px;
  height: auto;
}

#noteShadow,
#noteShadowEnd,
#long-shadow {
  animation: addNotes 1s infinite ease-out;
  z-index: 1;
  opacity: .5;
}

.type1 {
  position: absolute;
  height: 5px;
  width: 60px;
  background: white;
  box-sizing: border-box;
  border-left: 3px solid #303030;
  border-right: 3px solid #303030;
  animation: addNotes .6s ease-out;
  z-index: 83;
  color: red;
}

.type1:hover .noteinfo,
.type2:hover .noteinfo,
.type3:hover .noteinfo,
.type4:hover .noteinfo,
.type5:hover .noteinfo,
.-alldisp .type1 .noteinfo,
.-alldisp .type2 .noteinfo,
.-alldisp .type3 .noteinfo,
.-alldisp .type4 .noteinfo,
.-alldisp .type5 .noteinfo,
.-alldisp .type5 .noteinfo {
  color: #f0f0f0;
  text-shadow: 0 1px 1px black;
  z-index: 2;
  opacity: 0.75;
}

.type1 .noteinfo,
.type2 .noteinfo,
.type5 .noteinfo {
  color: transparent;
  transform: rotate(180deg);
  position: absolute;
  font-style: normal;
  padding-bottom: 4px;
}

.type2 {
  position: absolute;
  height: 5px;
  width: 60px;
  background: orange;
  box-sizing: border-box;
  border-left: 3px solid #303030;
  border-right: 3px solid #303030;
  /* animation: addNotes .6s ease-out; */
  z-index: 81;
}

.type1:hover:not(#noteShadow),
.type2:hover:not(#noteShadow),
.type3:hover:not(#noteShadow),
.type4:hover:not(#noteShadow),
.type5:hover:not(#noteShadow) {
  box-shadow: 0 0 0 3px yellow;
  background: transparent;
  animation: none;
}

.type1.-error::after,
.type2.-error::after,
.type3.-error::after,
.type4.-error::after,
.type5.-error::after {
  content: "!";
  background: red;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 900;
  transform: rotate(180deg);
  position: relative;
  left: -18px;
  top: -6px;
}

.type5 {
  position: absolute;
  height: 10px;
  width: 300px;
  left: 40px;
  background-color: gold;
  background: linear-gradient(to right, gold, #FDE08D, gold);
  box-sizing: border-box;
  box-shadow: 0 -4px 3px -2px white;
  animation: type5 1s infinite ease-out;
  z-index: 75;
}

.type3,
.type4 {
  position: absolute;
  height: 8px;
  margin-top: -2px;
  width: 60px;
  box-sizing: border-box;
  /* animation: addNotes .6s ease-out; */
  z-index: 82;
  transform: scaleX(3);
}

.type3 {
  background: lightskyblue;
  border-right: 4px solid #303030;
}

.type4 {
  background: lightcoral;
  border-left: 4px solid #303030;
}

.type3:after {
  transform: scaleX(.5);
  font-size: 25px;
  content: "▶";
  color: lightskyblue;
  position: absolute;
  line-height: .6em;
  right: -11px;
  font-family: initial;
}

.type4:after {
  transform: scaleX(.5);
  font-size: 25px;
  content: "◀";
  color: lightcoral;
  position: absolute;
  line-height: .6em;
  left: -12px;
  font-family: initial;
}

.type3 .noteinfo,
.type4 .noteinfo {
  color: transparent;
  transform: rotate(180deg) scaleX(.35);
  position: absolute;
  font-style: normal;
}

.type95 .noteinfo {
  color: transparent;
}

.-alldisp .type95 .noteinfo,
.type95:hover .noteinfo {
  color: #909090;
}

/*
.type3.option1,
.type4.option1 {
  transform: scaleX(1);
}

.type3.option1::after,
.type4.option1::after {
  transform: scaleX(1.5);
}

.type3.option1 .noteinfo,
.type4.option1 .noteinfo {
  transform: rotate(180deg) scaleX(1);
}

.type3.option2,
.type4.option2 {
  transform: scaleX(2);
}

.type3.option2::after,
.type4.option2::after {
  transform: scaleX(0.75);
}

.type3.option2 .noteinfo,
.type4.option2 .noteinfo {
  transform: rotate(180deg) scaleX(0.5);
}

.type3.option4,
.type4.option4 {
  transform: scaleX(4);
}

.type3.option4 .noteinfo,
.type4.option4 .noteinfo {
  transform: rotate(180deg) scaleX(0.25);
}

.type3.option5,
.type4.option5 {
  transform: scaleX(5);
}

.type3.option5 .noteinfo,
.type4.option5 .noteinfo {
  transform: rotate(180deg) scaleX(0.20);
}
*/

.type95 {
  transform: rotate(180deg);
  color: #909090;
  position: absolute;
  background: #909090;
  height: 1px;
  width: 300px;
  z-index: 79;
  text-align: right;
}

.type95.-hidden {
  background: orange;
  opacity: 0;
}

.type95.-hidden:hover {
  opacity: 1;
}

.type97 {
  transform: rotate(180deg);
  color: #f0f0f0;
  position: absolute;
  background: limegreen;
  height: 1px;
  width: 400px;
  left: 0px;
  animation: addNotes .6s ease-out;
  z-index: 97;
  text-align: right;
}

.type98 {
  transform: rotate(180deg);
  color: #f0f0f0;
  position: absolute;
  background: red;
  height: 1px;
  width: 400px;
  left: 0px;
  animation: addNotes .6s ease-out;
  z-index: 98;
  text-align: right;
}

.type99 {
  transform: rotate(180deg);
  color: #f0f0f0;
  position: absolute;
  background: transparent;
  height: 0px;
  width: 300px;
  left: 50px;
  z-index: 98;
  border-top: 3px dashed red;
}

.long {
  position: absolute;
  background: #ffffec;
  opacity: .9;
  width: 27px;
  margin: 0 12px;
  z-index: 80;
  border-left: 4px solid #6ecc6e;
  border-right: 4px solid #6ecc6e;
}

.measure {
  transform: rotate(180deg);
  position: absolute;
  background: linear-gradient(to left, transparent 19.5%, #E0E0E0 20%, transparent 20.5%, transparent 39.5%, #E0E0E0 40%, transparent 40.5%, transparent 59.5%, #E0E0E0 60%, transparent 60.5%, transparent 79.5%, #E0E0E0 80%, transparent 80.5%);
  border-bottom: 1px solid #909090;
  border-right: 1px solid #909090;
  border-left: 1px solid #909090;
  text-align: right;
  line-height: 0px;
  height: 200px;
  width: 300px;
  right: 40px;
  top: 0px;
  color: #707070;
  font-size: 32px;
}
.measure.-last {
  border-top: 1px solid #909090;
}

.measure.-hml {
  border-bottom: 0 solid transparent;
}

#preline {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0;
  height: 20px;
  width: 380px;
  background: transparent;
  color: red;
  border-top: 2px solid red;
  transition: 1s all linear;
  line-height: 1;
  background: rgba(0, 0, 0, .5);
}

#preline-combo-text {
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
  position: relative;
  color: rgba(255, 255, 255, .3);
  font-size: 50px;
  top: -110px;
}

#preline-combo-text::after {
  display: block;
  content: "COMBO";
  font-size: 20px;
}

.keybeams {
  display: flex;
  position: relative;
  padding-left: 40px;
}

.keybeam {
  display: block;
  background : linear-gradient(#16D5F700 0%,#16D5F790 100%);
  height: 100px;
  width: 60px;
  position: relative;
  top: -202px;
  opacity: 0;
  left: 0px;
  transition: .175s all linear;
}

#keybeam-otofuda {
  position: absolute;
  width: 300px;
  left: 40px;
  background : linear-gradient(#f7d51600 0%,#f7d51690 100%);
}

.keybeam.-on {
  opacity: 1;
  transition: none;
  /* animation: keybeam .3s linear 0 !important; */
}

.keybeam.-left {
  left: -60px;
  filter: blur(20px);
}

.keybeam.-right {
  left: 60px;
  filter: blur(20px);
}

#sudden {
  position: fixed;
  top: -1px;
  right: 0;
  height: 0;
  width: 380px;
  background: #404040;
  border-bottom: 1px solid #606060;
}

#moveline {
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  background: transparent;
  color: limegreen;
  border-top: 4px solid limegreen;
  transition: 1s all linear;
  transform: rotate(180deg);
}

@keyframes addNotes {
  from {
    box-shadow: 0 0 0 0 rgba(50, 200, 90, .5);
  }

  to {
    box-shadow: 0 0 0px 20px rgba(50, 200, 90, 0);
  }
}

@keyframes type5 {
  from {
    box-shadow: 0 0 8px 0 gold;
  }
  
  50% {
    box-shadow: 0 0 14px 0 gold;    
  }

  to {
    box-shadow: 0 0 8px 0 gold;
  }
}

@keyframes keybeam {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}