body {
  background: #303030;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  max-height: calc(100vh);
  overflow: scroll;
  width: calc(100% - 320px);
  background: #f0f0f0;
}

h3 {
  background: #888;
  color: #fff;
  margin: 0;
  padding: 10px;
  margin-bottom: 6px;
}

form {
  font-size: 15px;
  line-height: 200%;
}

input[type="number"],
input[type="text"] {
  width: 100px;
  font-size: 16px;
  outline: none;
}

form .pos {
  width: 50px;
}

form select {
  font-size: 16px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  border: none;
  padding: 3px;
  border-radius: 5px;
  outline: none;
}

input[type="button"] {
  font-size: 16px;
}

#debug {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #e0e0e0;
  padding: 2px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#preview {
  transform: rotate(180deg);
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 320px;
  height: 100%;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  background-repeat: repeat-y;
  background-position: top;
  background-size: auto 200px;
}

#preview.playing {
  overflow-y: visible;
  overflow-x: visible;
  margin-top: -20px;
}

#canvas {
  width: 320px;
  height: auto;
}

#noteShadow,
#noteShadowEnd,
#long-shadow {
  animation: addNotes 1s infinite ease-out;
  z-index: 1;
  opacity: .5;
}

.type1 {
  position: absolute;
  height: 5px;
  width: 60px;
  background: white;
  box-sizing: border-box;
  border-left: 3px solid #303030;
  border-right: 3px solid #303030;
  animation: addNotes .6s ease-out;
  z-index: 81;
  color: red;
}

.type5:hover .noteinfo,
.type1:hover .noteinfo {
  color: #f0f0f0;
  text-shadow: 0 1px 3px black;
}

.type5 .noteinfo,
.type1 .noteinfo {
  color: transparent;
  transform: rotate(180deg);
  position: absolute;
  font-style: normal;
  padding-bottom: 8px;
}

.type2 {
  position: absolute;
  height: 5px;
  width: 60px;
  background: orange;
  box-sizing: border-box;
  border-left: 3px solid #303030;
  border-right: 3px solid #303030;
  animation: addNotes .6s ease-out;
  z-index: 81;
  color: red;
}

.type1:hover,
.type2:hover,
.type3:hover,
.type4:hover,
.type5:hover {
  box-shadow: 0 0 0 3px red;
}

.type5 {
  position: absolute;
  height: 6px;
  width: 300px;
  left: 20px;
  background: gold;
  box-sizing: border-box;
  box-shadow: 0 -4px 3px -2px white;
  border-left: 3px solid #303030;
  border-right: 3px solid #303030;
  animation: addNotes .6s ease-out;
  z-index: 75;
}

.type3,
.type4 {
  position: absolute;
  height: 5px;
  width: 60px;
  box-sizing: border-box;
  animation: addNotes .6s ease-out;
  z-index: 83;
  transform: scaleX(3);
}

.type3 {
  background: lightskyblue;
}

.type4 {
  background: lightseagreen;
}

.type3:after {
  transform: scaleX(.5);
  font-size: 24px;
  content: "▶";
  color: lightskyblue;
  position: absolute;
  top: -12px;
  right: -7px;
  font-family: initial;
}

.type4:after {
  transform: scaleX(.5);
  font-size: 24px;
  content: "◀";
  color: lightseagreen;
  position: absolute;
  top: -11px;
  left: -9px;
  font-family: initial;
}

.type3:hover .noteinfo,
.type4:hover .noteinfo {
  color: #f0f0f0;
  text-shadow: 0 1px 4px black;
}

.type3 .noteinfo,
.type4 .noteinfo {
  color: transparent;
  transform: rotate(180deg) scaleX(.5);
  position: absolute;
  font-style: normal;
}

.type97 {
  transform: rotate(180deg);
  color: #f0f0f0;
  position: absolute;
  background: limegreen;
  height: 1px;
  width: 320px;
  left: 0px;
  animation: addNotes .6s ease-out;
  z-index: 97;
  text-align: right;
}

.type98 {
  transform: rotate(180deg);
  color: #f0f0f0;
  position: absolute;
  background: red;
  height: 1px;
  width: 320px;
  left: 0px;
  animation: addNotes .6s ease-out;
  z-index: 98;
  text-align: right;
}

.type99 {
  transform: rotate(180deg);
  color: #f0f0f0;
  position: absolute;
  background: yellow;
  height: 3px;
  width: 300px;
  left: 20px;
  animation: addNotes .6s ease-out;
  z-index: 98;
}

.long {
  position: absolute;
  background: whitesmoke;
  opacity: .9;
  width: 27px;
  margin: 0 15px;
  z-index: 80;
}

.measure {
  transform: rotate(180deg);
  position: absolute;
  background: transparent;
  background: linear-gradient(to left, transparent 19.5%, #E0E0E0 20%, transparent 20.5%, transparent 39.5%, #E0E0E0 40%, transparent 40.5%, transparent 59.5%, #E0E0E0 60%, transparent 60.5%, transparent 79.5%, #E0E0E0 80%, transparent 80.5%);
  border-top: 1px solid #909090;
  border-right: 1px solid #909090;
  text-align: right;
  line-height: 20px;
  height: 200px;
  width: 300px;
  right: 0px;
  top: 0px;
  color: #fff;
  font-size: 20px;
}

#preline {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0;
  height: 20px;
  width: 320px;
  background: transparent;
  color: red;
  border-top: 2px solid red;
  transition: 1s all linear;
  line-height: 1;
  background: rgba(0, 0, 0, .5);
}

#preline-combo-text {
  display: block;
  width: calc(100% - 19px);
  height: 100px;
  text-align: center;
  position: relative;
  color: rgba(255, 255, 255, .3);
  font-size: 50px;
  top: -120px;
}

#preline-combo-text::after {
  display: block;
  content: "COMBO";
  font-size: 20px;
}

.keybeams {
  display: flex;
  position: relative;
}

.keybeam {
  display: block;
  background : linear-gradient(#16D5F700 0%,#16D5F790 100%);
  height: 100px;
  width: 60px;
  position: relative;
  top: -218px;
  opacity: 0;
  left: 0px;
  transition: .25s all linear;
}

#keybeam-otofuda {
  position: absolute;
  width: 300px;
  background : linear-gradient(#f7d51600 0%,#f7d51690 100%);
}

.keybeam.-on {
  opacity: 1;
  transition: none;
  /* animation: keybeam .3s linear 0 !important; */
}

.keybeam.-left {
  left: -60px;
  filter: blur(20px);
}

.keybeam.-right {
  left: 60px;
  filter: blur(20px);
}

#sudden {
  position: fixed;
  top: -1px;
  right: 0;
  height: 0;
  width: 320px;
  background: #404040;
  border-bottom: 1px solid #606060;
}

#moveline {
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  background: transparent;
  color: limegreen;
  border-top: 4px solid limegreen;
  transition: 1s all linear;
  transform: rotate(180deg);
}

@keyframes addNotes {
  from {
    box-shadow: 0 0 0 0 rgba(50, 200, 90, .5);
  }

  to {
    box-shadow: 0 0 0px 20px rgba(50, 200, 90, 0);
  }
}

@keyframes keybeam {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}