body{
    background: #303030;
    margin: 0;
    color: #ffffff;
}
header{
    background: whitesmoke;
    color: #505050;
    padding: 5px;
    font-size: 22px;
}
form{
    background: #505050;
    margin: 12px;
    padding: 12px;
    border-radius: 5px;
}
#info{
    background: #e0e0e0;
    color: #303030;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    line-height: 35px;
}
#info-toggle{
    display: block;
    cursor: pointer;
    background: #909090;
    color: #ffffff;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
}
#info-toggle:hover{
    background: #707070;
}
#info strong{
    display: inline-block;
    width: 150px;
}
#info input, #comment{
    border: none;
    font-size: 15px;
    margin: 0 2px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
#comment{
    width: 210px;
    height: 60px;
    resize: vertical;
    margin-top: 6px;
}
footer{
    margin-top: 10px;
    padding: 4px;
    border-top: 1px solid #909090;
    text-align: center;
    color: #a0a0a0;
}
#area-head{
    display: flex;
}
#area-head div{
    padding: 5px;
    width: 50%;
    background: #203050;
}
#main{
    display: flex;
}
#textarea{
    background: #505050;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    width: 50%;
    height: 400px;
    font-size: 16px;
    color: #ffffff;
    resize: none;
    margin: 0;
}
#textarea:focus{
    background: #606060;
}
#preview{
    background: #e0e0e0;
    width: 50%;
    height: 400px;
}