/* 汎用 */
body{
    background: #303030;
    margin: 0;
    color: #ffffff;
}
.button{
    cursor: pointer;
    border: 1px solid #909090;
    padding: 4px;
    margin-left: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    color: #404040;
    background : linear-gradient(#FFFFFF 0%,#E0E0E0 100%);
}
.button:hover{
    background : linear-gradient(#EBEBEB 0%,#C9C9C9 100%);
}
input, #comment{
    border: none;
    font-size: 15px;
    margin: 0 2px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
input:focus{
    box-shadow: 0 0 0 2px rgba(30,80,220,.5);
}
header{
    background: whitesmoke;
    color: #505050;
    padding: 5px 5px 5px 45px;
    font-size: 22px;
}
/* メニュー */
header #menu-open{
    cursor: pointer;
    background: #acf;
    padding: 0 12px;
    position: fixed;
    top: 0;
    left: 0;
    height: 44px;
    border-radius: 0 0 5px 0;
}
header #menu-open:hover{
    opacity: .5;
}
#menu{
    background: #fff;
    position: fixed;
    top: 0;
    left: -220px;
    width: 200px;
    height: 100%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    transition: .5s all ease;
}
#menu a{
    cursor: pointer;
    display: block;
    color: #505050;
    text-decoration: none;
    padding: 10px;
}
#menu a:hover{
    background: #eee;
}
/* impoprtとexport */
form{
    background: #505050;
    margin: 12px;
    padding: 0;
    display: flex;
}
#import{
    display: none;
}
.port-button{
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    color: #ffffff;
}
.port-button:hover{
    background: #a0a0a0;
}

/* 譜面情報 */
#info{
    background: #e0e0e0;
    color: #303030;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    line-height: 35px;
}
#info-toggle, #info-toggle-2{
    display: block;
    cursor: pointer;
    background: #909090;
    color: #ffffff;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
}
#info-toggle:hover, #info-toggle-2:hover{
    background: #707070;
}
#info strong{
    display: inline-block;
    width: 150px;
}
#comment{
    width: 210px;
    height: 60px;
    resize: vertical;
    margin-top: 6px;
}
footer{
    margin-top: 10px;
    padding: 4px;
    border-top: 1px solid #909090;
    text-align: center;
    color: #a0a0a0;
}
#area-head{
    display: flex;
}
#area-head div{
    padding: 5px;
    width: 50%;
    background: #203050;
}
#main{
    display: flex;
}
#textarea{
    background: #505050;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    width: 50%;
    height: 400px;
    font-size: 16px;
    color: #ffffff;
    resize: none;
    margin: 0;
}
#textarea:focus{
    background: #606060;
}
#preview{
    background: #e0e0e0;
    width: 50%;
    min-height: 400px;
}
#notice{
    display: none;
    cursor: default;
    position: fixed;
    top: 15px;
    right: 15px;
    background: #e0e0e0;
    color: #505050;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #505050;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    max-width: 400px;
}
/* プレビュー */
#preview-control{
    padding: 8px;
}
#measure{
    width: 100px;
}
#preview-area{
    padding: 10px;
    color: #505050;
}
select{
    border: none;
    font-size: 15px;
    margin: 0 2px;
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
#preview-area div{
    border-bottom: 1px solid #909090;
    padding: 5px;
}
#preview-area div:hover{
    background: #f0f0f0;
}