/* 汎用 */
body{
    background: #303030;
    margin: 0;
    color: #ffffff;
}
.button{
    cursor: pointer;
    border: 1px solid #909090;
    padding: 4px;
    margin-left: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    color: #404040;
    background : linear-gradient(#FFFFFF 0%,#E0E0E0 100%);
}
.button:hover{
    background : linear-gradient(#EBEBEB 0%,#C9C9C9 100%);
}
input, #comment{
    border: none;
    font-size: 15px;
    margin: 0 2px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
input:focus{
    box-shadow: 0 0 0 2px rgba(30,80,220,.5);
}
header{
    background: whitesmoke;
    color: #505050;
    padding: 5px 5px 5px 65px;
    font-size: 22px;
}
/* メニュー */
header #menu-open{
    cursor: pointer;
    background: #acf;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    box-sizing: border-box;
    border-radius: 0 0 80% 0;
}
header #menu-open:hover{
    opacity: .5;
}
#menu{
    background: #fff;
    color: #303030;
    position: fixed;
    top: 0;
    left: -220px;
    width: 200px;
    height: 100%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    transition: .5s all ease;
}
#menu a{
    cursor: pointer;
    display: block;
    color: #505050;
    text-decoration: none;
    padding: 10px;
}
#menu a:hover{
    background: #eee;
}
/* impoprtとexport */
form{
    background: #505050;
    margin: 12px;
    padding: 0;
    display: flex;
}
#import{
    display: none;
}
.port-button{
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    color: #ffffff;
}
.port-button:hover{
    background: #a0a0a0;
}

/* 譜面情報 */
#info{
    background: #e0e0e0;
    color: #303030;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    line-height: 35px;
}
#info-toggle, #info-toggle-2{
    display: block;
    cursor: pointer;
    background: #909090;
    color: #ffffff;
    padding: 0 10px;
    text-align: center;
    border-radius: 5px;
}
#info-toggle:hover, #info-toggle-2:hover{
    background: #707070;
}
#info-forms, #info-forms-2{
    padding: 5px 0;
}
#info strong{
    display: inline-block;
    width: 150px;
}
#comment{
    width: 210px;
    height: 60px;
    resize: vertical;
    margin-top: 6px;
}
footer{
    margin-top: 10px;
    padding: 4px;
    border-top: 1px solid #909090;
    text-align: center;
    color: #a0a0a0;
}
#area-head{
    display: flex;
}
#area-head div{
    padding: 5px;
    width: 50%;
    background: #203050;
}
#main{
    display: flex;
}
#textarea{
    background: #505050;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    width: 50%;
    height: 450px;
    font-size: 16px;
    color: #ffffff;
    resize: none;
    margin: 0;
}
#textarea:focus{
    background: #606060;
}
#preview{
    background: #e0e0e0;
    width: 50%;
    min-height: 450px;
}
#notice{
    display: none;
    cursor: default;
    position: fixed;
    top: 15px;
    right: 15px;
    background: #e0e0e0;
    color: #505050;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #505050;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    max-width: 400px;
}
/* プレビュー */
#preview-control{
    padding: 8px;
}
#measure{
    width: 60px;
}
#height{
    width: 80px;
}
#preview-area{
    padding: 10px;
    color: #505050;
    display: flex;
    flex-direction: column-reverse;
}
select{
    border: none;
    font-size: 15px;
    margin: 0 2px;
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
#measureinfo{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #909090;
    margin: 8px 0;
}
.preview-measure{
    display: flex;
    box-shadow:inset 0 -1px 0px 0px #909090;
    width: 270px;
}
.preview-measure:hover{
    color: red;
}
.preview-measure div{
    box-sizing: border-box;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 50px;
    display: block;
    box-shadow:inset -1px 0 0 0 #c0c0c0;
}
.preview-measure div:hover{
    background: rgba(255,255,255,.7);
}
.div-num{
    width: 20px!important;
}
.div-rest{
    border-bottom: 6px solid transparent;
}
.div-note{
    border-bottom: 6px solid rgb(98, 145, 233);
}
.div-each{
    border-bottom: 6px solid rgb(28, 98, 228);
}
.div-skill{
    border-bottom: 6px solid rgb(228, 18, 18);
    width: 250px!important;
}
.div-left, .div-right{
    margin: 0 70px!important;
    width: 150px!important;
    border-bottom: 6px solid rgb(200,0,200);
    position: absolute;
}
.div-left:after{
    color: rgb(200,0,200);
    position: absolute;
    bottom: -5px;
    content: "< < <";
    width: 150px;
    text-align: center;
}
.div-right:after{
    color: rgb(200,0,200);
    position: absolute;
    bottom: -5px;
    content: "> > >";
    width: 150px;
    text-align: center;
}
.div-long-start{
    position: relative;
    border-bottom: 4px solid rgb(0,0,0);
}
.div-long-start:after{
    color: rgb(0,0,0);
    position: absolute;
    bottom: 0;
    content: "△";
    width: 50px;
    text-align: center;
}
.div-long-end{
    position: relative;
    border-bottom: 4px solid rgb(0,0,0);
}
.div-long-end:after{
    color: rgb(0,0,0);
    position: absolute;
    bottom: -30px;
    content: "▼";
    width: 50px;
    text-align: center;
}